.fondo{
    display: flex;
    width: 100%;
    height: 700px;
    background: linear-gradient(2deg, rgba(255,255,255,1) 22%, rgba(0,120,192,1) 23%, rgba(0,16,25,1) 96%)
}
.fondo img{
    position:static !important;
    height: auto !important;
    width: 50% !important;
    margin:10px 60px 0px 0px ;
}

.info1{
    display: flex;
    margin: 20px;
}
.info1 img{
    width: 50% !important;
    height: 50vh !important;
    position: static !important;
    margin: 0px 0px 0px 100px   
}

.renta h3{
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    font-size: 35px;
    color:#6a6a82;
}
.info_venta{
    display: flex;
    height: 700px;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
    flex-direction: row;
    color:#6a6a82;
}
.text_venta{
    margin:50px;
    width: 100%;
}
.text_venta h2{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}
.text_venta p{
    font-size: 30px;
}
.sect_carousel{
    display: flex;
    justify-content: space-around
}

.info_renta video{
    height: 40vw;
    border-radius: 20px;
}

.content{
    width: 100%;
    text-align: center;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content h1 {
    margin: 15px 0px 0px 0px;
    font-size: 80px;
    font-weight: bold;
    text-shadow: -3px -2px 7px rgba(255,255,255,0.50);
   
}
.content p{
    font-size: 25px;
    margin: 30px 0px;
    
}
.content button{
    width: 25%;
    height: 60px;
    font-size: 20px;
}
.content img{
    position: static !important;
    width: 70px !important;
    margin: 20px;
    height: auto !important;
}